:root {
    --background-colour: #161b22;
    --background-colour-alt: #1c242e;
    --accent-colour: #e60050;
    --accent-colour-alt: #c30d4c;
    --font-colour: #f0f2ff;
    --danger: #d13232;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-colour);
}

html, body , #root { height: 100%; }

a {
    text-decoration: none;
    color: unset;
}

input[type=text], input[type=password] {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #707070;
}

button {
    padding: 10px 30px;
    background: none;
    border: 1px solid #707070;
    cursor: pointer;
}

button.btn-pink {
    background-color: var(--accent-colour);
    border: 1px solid var(--accent-colour);
    color: var(--font-colour);
}

button.btn-pink:hover, button.btn-pink:active {
    background-color: var(--accent-colour-alt);
}

button.btn-danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: var(--font-colour)
}

button.link {
    padding: 0;
    color: blue;
    text-decoration: underline;
    border: none;
    font-size: 1em;
}

ul {
    list-style-position: inside;
}

path {
    stroke-width: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    color: var(--font-colour);
}

.container > main {
    flex: 1;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

.container > nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
}

.container > nav img, .container > nav svg {
    width: 2em;
    height: 2em;
}

.container > nav .selected::after {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    border-radius: 5px;
    display: block;
    background-color: white;
    content: "";
}

@media screen and (min-width: 500px) {
    .container {
        flex-direction: row-reverse;
    }

    .container > nav {
        flex-direction: column;
        padding: 0 10px;
        align-items: center;
    }

    .container > nav .selected::after {
        display: none;
    }

    .container > nav .selected::before {
        width: 2px;
        height: 80%;
        margin-right: 5px;
        border-radius: 5px;
        display: inline-block;
        background-color: white;
        content: "";
    }
}
