/* General Styles */

:root {
    --background-colour: #161b22;
    --background-colour-alt: #1c232e;
    --background-colour-alt-light: #2c3645;
    --font-colour: #f0f6ff;
    --accent-colour: #3e5c85;
    --action-colour: #1e58a8;
    --action-colour-alt: #1c529e;
    --danger: #d13232;
    --disable: #77868f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 1px;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-colour);
}

html, body , #root { height: 100%; }

a {
    text-decoration: none;
    color: unset;
}

input[type=text], input[type=password] {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #707070;
}

input[type=color] {
    height: 0;
    outline: none;
    border: none;
}

button {
    padding: 10px 30px;
    background: none;
    border: 1px solid #707070;
    cursor: pointer;
}

button.btn-action {
    background-color: var(--action-colour);
    border: 1px solid var(--action-colour);
    color: var(--font-colour);
}

button.btn-action[disabled] {
    background-color: var(--disable);
    border: 1px solid var(--disable);
    cursor: not-allowed;
}

button.btn-action[disabled]:hover, button.btn-action[disabled]:active {
    background-color: var(--disable);
    border: 1px solid var(--disable);
}

button.btn-action:hover, button.btn-pink:active {
    background-color: var(--action-colour-alt);
    border: 1px solid var(--action-colour-alt);
}

button.btn-danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: var(--font-colour)
}

button.link {
    padding: 0;
    color: blue;
    text-decoration: underline;
    border: none;
    font-size: 1em;
}

ul {
    list-style-position: inside;
}

path {
    stroke-width: 24px;
}

.instrument-icon-fallback {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-colour-alt);
    letter-spacing: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    color: var(--font-colour);
}

.container > main {
    flex: 1;
    padding: 1em;
    overflow: hidden;
}

.container > main > div {
    height: 100%;
    overflow-y: auto;
}

.container > nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    background-color: var(--accent-colour);
}

.container > nav img, .container > nav svg {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.container > nav .selected::after {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    border-radius: 5px;
    display: block;
    background-color: white;
    content: "";
}

.container > nav .spacer {
    display: none;
}

@media screen and (min-width: 500px) {
    .container {
        flex-direction: row-reverse;
    }

    .container > nav {
        flex-direction: column;
        padding: 0 10px;
        align-items: center;
    }

    .container > nav span {
        padding: 25px 0;
        margin: 0 4px;
    }

    .container > nav .selected {
        margin: 0 !important;
    }

    .container > nav .selected::after {
        display: none;
    }

    .container > nav .selected::before {
        width: 2px;
        height: 80%;
        margin-right: 6px;
        border-radius: 5px;
        display: inline-block;
        background-color: white;
        content: "";
    }

    .container > nav .spacer {
        display: block;
        flex: 1;
    }
}

/* Feed and Profile Styles */

.chart {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 80vh;
    background-color: var(--background-colour);
}

.chart:fullscreen {
    padding: 1em;
}

.chart-duration-container span {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    user-select: none;
    text-transform: capitalize;
}

.chart-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-options-container .expand {
    aspect-ratio: 1;
    cursor: pointer;
    display: flex;
}

.chart-options-container .expand:hover, .chart-duration-container .expand:active {
    opacity: 0.5;
}

.chart-options-container .expand svg {
    width: 1.5em;
}

.chart-duration-container span:not(.selected):hover {
    background-color: var(--background-colour-alt-light);
}

.chart-duration-container span.selected {
    background-color: var(--action-colour);
}

.leaderboards-container {
    margin-top: 10px;
}

.leaderboards {
    max-height: 175px;
    overflow: auto;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}

.leaderboard-item:hover {
    background-color: var(--background-colour-alt);
}

.leaderboard-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.leaderboard-item p:first-of-type {
    flex: 1;
}

.feed-container {
    margin-top: 25px;
}

.post:first-of-type {
    margin-top: 10px;
}

.post {
    background-color: var(--background-colour-alt);
    margin-bottom: 10px;
}

.post .disqualified {
    display: flex;
    justify-content: space-between;
}

.post .disqualified p {
    text-transform: uppercase;
}

.post header {
    display: flex;
    align-items: center;
}

.post header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.post > div, .post header, .post footer {
    padding: 10px;
}

.post > div a {
    text-decoration: underline;
}

.post-actions {
    display: flex;
}

.post small {
    color: var(--font-colour);
}

.comment-input {
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 10px;
}

.comment-input button {
    border: unset;
    padding: 0 10px;
    background-color: var(--background-colour-alt-light);
    height: 100%;
    color: var(--font-colour);
}

.comment-input button:disabled {
    color: var(--background-colour-alt);
}

.comment-input svg {
    margin-bottom: -3px;
    width: 20px;
    height: 20px;
}

.comment-input input {
    flex: 1;
    background-color: var(--background-colour-alt-light);
    border: 1px solid var(--background-colour-alt-light);
    color: var(--font-colour);
    border-radius: unset;
}

.comment-input input:focus, .comment-input input:active {
    outline: none;
}

.reaction-button {
    filter: grayscale(100%);
    padding: 5px;
    border: none;
    font-size: 1.25em;
}

.reaction-button.selected {
    filter: unset;
}

.comment {
    display: flex;
    margin: 10px;
}

.comment:first-of-type {
    margin-top: 20px;
}

.comment img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-content-container {
    width: 80%;
}

.comment-content {
    background-color: var(--background-colour-alt-light);
    padding: 10px;
}

.comment-content h4 {
    margin-bottom: 5px;
}

.hamburger {
    display: flex;
    cursor: pointer;
    padding: 5px;
}

.hamburger > div {
    width: 3px;
    height: 3px;
    background-color: var(--font-colour);
    margin-left: 5px;
}

.comment-menu-options {
    list-style: none;
    position: absolute;
    right: 0;
    width: fit-content;
    background-color: var(--background-colour-alt);
    margin-top: 10px;
    border: 1px solid var(--font-colour);
    cursor: pointer;
}

.comment-menu-options li {
    display: flex;
    align-items: center;
    padding: 10px;
}

.comment-menu-options li:hover, .comment-menu-options li:active {
    background-color: var(--background-colour-alt-light);
}

.comment-menu-options svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.load-comments {
    color: var(--font-colour);
    padding: 0 0 1px;
    border: none;
    border-bottom: 1px solid var(--font-colour);
}

.profile-action-button {
    width: 100%;
    margin: 10px 0;
}

.user-info .profile-picture, .settings-container .profile-picture {
    width: 100%;
    height: unset;
    border-radius: unset;
    margin-bottom: 10px;
}

.user-info .account-value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.open-position-container header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin: 10px 0;
}

.open-position-container object {
    width: 50px;
    margin-right: 10px;
}

.open-position-container object div {
    width: 50px;
    height: 50px;
    font-size: 0.75em;
}

.about-open-position {
    line-height: 1.5;
}

@media screen and (min-width: 1000px) {
    .home-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: calc(100% - 300px - 1em) 300px;
        grid-template-rows: 80vh auto;
    }

    .chart {
        grid-column: 1/3;
        height: 80vh;
    }

    .feed-container {
        grid-column: 1;
        margin-top: unset;
    }

    .leaderboards-container, .instrument-information-container {
        margin-top: 0;
        grid-column: 2;
        grid-row: 2/4;
        height: 100vh;
    }

    .leaderboards-container > div {
        position: sticky;
        top: 0;
    }

    .leaderboards {
        max-height: unset;
    }

    .post {
        margin-right: unset;
        margin-left: unset;
    }

    .post .disqualified p {
        letter-spacing: 15px;
    }
}

@media screen and (min-width: 1500px) {
    .leaderboards-container, .instrument-information-container {
        grid-row: 1/4;
    }

    .chart, .chart-options-container, .feed-container {
        grid-column: 1;
    }
}

/* Settings Page Styles */
.settings-container .authentication-buttons button:first-of-type {
    margin-right: 10px;
}

.settings-container input[type=text] {
    border-radius: unset;
}

.settings-container section {
    margin-top: 25px;
}

.settings-container section:first-of-type {
    margin-top: unset;
}

.profile-info .action-buttons {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 500px) {
    .settings-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: calc(100% - 350px - 1em) 350px;
        grid-template-rows: min-content min-content min-content;
    }

    .settings-container .profile-picture {
        width: 15vw;
    }

    .settings-container .following {
        grid-column: 2;
        grid-row: 1/4;
        margin-top: unset;
    }

    .profile-info {
        display: flex;
    }

    .profile-info > div {
        flex: 1;
    }

    .profile-info label {
        display: block;
    }

    .profile-info input {
        width: 50%;
    }

    .profile-info .action-buttons {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .profile-info .action-buttons button {
        width: fit-content;
        margin-top: 10px;
    }
}

/* Instruments and Search Styles */
.search-container input[type=search] {
    width: 100%;
    padding: 10px;
    background-color: var(--background-colour-alt-light);
    border: 1px solid var(--background-colour-alt-light);
    color: var(--font-colour);
    outline: none;
}

.search-result {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.search-result:hover, .search-result:active {
    background-color: var(--background-colour-alt)  ;
}

.search-result div {
    padding-left: 10px;
}

.search-result h3 {
    margin-bottom: 10px;
}

.search-result object, .search-result .instrument-icon-fallback {
    width: 100px;
    height: 100px;
}

.instrument-information-container object, .instrument-icon-fallback {
    width: 100%;
    aspect-ratio: 1;
    font-size: 1.5em;
}

.owning-user {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.owning-user:hover, .owning-user:active {
    background-color: var(--background-colour-alt-light);
}

.owning-user img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.company-description {
    margin: 5px 0;
    overflow: hidden;
    line-height: 1.4;
}

.company-description-toggle {
    text-align: center;
    cursor: pointer;
}

.company-description-toggle span {
    display: block;
}

/* Errors Page Style */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    color: var(--font-colour);
}

.error-container a {
    margin-top: 25px;
    text-decoration: underline;
    font-style: oblique;
}
