.chart {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 80vh;
}

.leaderboards-container {
    margin-top: 10px;
}

.leaderboards {
    max-height: 175px;
    overflow: auto;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.leaderboard-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.leaderboard-item p:first-of-type {
    flex: 1;
}

.feed-container {
    margin-top: 25px;
}

.post:first-of-type {
    margin-top: 10px;
}

.post {
    background-color: var(--background-colour-alt);
    margin: 0 -1em 10px;
}

.post header {
    display: flex;
    align-items: center;
}

.post header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.post > div, .post header, .post footer {
    padding: 10px;
}

.post footer {
    display: flex;
}

.post footer input {
    flex: 1;
    background-color: transparent;
    color: white;
    margin-right: 10px;
}

.post footer button {
    filter: grayscale(100%);
    padding: 5px;
    border: none;
    font-size: 1.25em;
}

.post footer button.selected {
    filter: unset;
}

.like-button {
    rotate: -90deg;
    display: inline-block;
}

.profile-action-button {
    width: 100%;
    margin: 10px 0;
}

.user-info .profile-picture {
    width: 100%;
    height: unset;
    border-radius: unset;
}

.user-info .account-value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.open-position-container header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin: 10px 0;
}

.open-position-container object {
    width: 50px;
    margin-right: 10px;
}

.open-position-container object div {
    width: 50px;
    height: 50px;
    background-color: var(--background-colour-alt);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75em;
    letter-spacing: 2px;
}

.about-open-position {
    line-height: 1.5;
}

@media screen and (min-width: 1000px) {
    .home-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: calc(100% - 300px - 1em) 300px;
        grid-template-rows: 80vh auto;
    }

    .chart {
        grid-column: 1/3;
        height: 80vh;
    }

    .feed-container {
        grid-column: 1;
        margin-top: unset;
    }

    .leaderboards-container {
        margin-top: 0;
        grid-column: 2;
        grid-row: 2;
        height: 100%;
    }

    .leaderboards-container > div {
        position: sticky;
        top: 0;
    }

    .post {
        margin-right: unset;
        margin-left: unset;
    }
}

@media screen and (min-width: 1500px) {
    .leaderboards-container {
        grid-row: 1/3;
    }

    .chart, .feed-container {
        grid-column: 1;
    }
}
