.chart {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboards-container {
    margin-top: 10px;
}

.leaderboards {
    max-height: 175px;
    overflow: auto;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.leaderboard-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.leaderboard-item p:first-of-type {
    flex: 1;
}

.feed-container {
    margin-top: 25px;
}

.post:first-of-type {
    margin-top: 10px;
}

.post {
    background-color: rgb(27, 34, 42);
    margin: 0 -1em 10px;
}

.post header {
    display: flex;
    align-items: center;
}

.post header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.post > div, .post header, .post footer {
    padding: 10px;
}

.post footer {
    text-align: end;
}

.post footer button {
    filter: grayscale(100%);
    padding: 5px;
    border: none;
}

.post footer button.selected {
    filter: unset;
}

.like-button {
    rotate: -90deg;
    display: inline-block;
}

@media screen and (min-width: 750px) {
    .chart-leaderboards-container {
        display: flex;
        height: 80%;
    }

    .chart {
        width: unset;
    }

    .leaderboards-container {
        flex: 1;
        margin-top: unset;
        margin-left: 10px;
    }
}
