.chart {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboards-container {
    margin-top: 10px;
}

.leaderboards {
    max-height: 175px;
    overflow: auto;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.leaderboard-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.leaderboard-item p:first-of-type {
    flex: 1;
}

@media screen and (min-width: 750px) {
    .chart-leaderboards-container {
        display: flex;
        height: 80%;
    }

    .chart {
        width: unset;
    }

    .leaderboards-container {
        flex: 1;
        margin-top: unset;
        margin-left: 10px;
    }
}
